# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
*.so
.venv/
.python-version

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.hypothesis/
.benchmarks/

# IDEs
.idea/
.vscode/
*.iml

# Build outputs
build/
dist/
wheels/
*.whl

# Documentation
docs/_build/

# Type checkers
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/

# JavaScript
node_modules/

# Claude Code
.claude/*
!.claude/commands/

# Project-specific
.overmind.sock
